<ion-content style="--background: #1e2023;">

  <div style="display: flex; flex-direction: column; justify-content: center; align-items: center; height: 100%; padding: 20px; text-align: center;">

    <ion-icon name="warning" color="warning" style="font-size: 100px; margin-bottom: 15px;"></ion-icon>

    <h1 style="color: #ffffff; font-weight: bold;">Andén no encontrado</h1>

    <p style="color: #b0b0b0;">Error 404: La ruta del sistema que buscas no existe o está fuera de servicio.</p>

    <ion-button routerLink="/home" color="primary" shape="round" style="margin-top: 20px;">
      <ion-icon name="arrow-back-outline" slot="start"></ion-icon>
      Volver al Terminal
    </ion-button>

  </div>

</ion-content>
